<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
   xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
   metadata-complete="false"
   version="3.0">
   
  <display-name>My Web Application</display-name>
  <description>Archetype Created Web Application</description>
  <servlet>
  	<servlet-name>HelloServlet</servlet-name>
  	<servlet-class>com.dredom.webapp.HelloServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JspSampleServlet</servlet-name>
  	<servlet-class>com.dredom.webapp.JspSampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloServlet</servlet-name>
  	<url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JspSampleServlet</servlet-name>
  	<url-pattern>/jspsample</url-pattern>
  </servlet-mapping>
</web-app>
